#contentTitle {
	font-size: 1.3em;
}

#contentTitle .ui-selectonemenu,
#contentTitle .code {
	height: 1.5em;
	border: 1px #ccc dashed;
	background: none;
	vertical-align: middle;
	font-size: 1em;
	line-height: 1.2em;
}

#contentTitle .ui-selectonemenu {
	padding-right: 0;
}

#contentTitle .code {
	font-family: Consolas, Monaco, "Lucida Console", "Courier New", Courier, monospace; 
	margin: 0;
	padding: 8px 4px;
	border: 0;
}

#contentTitle .ui-selectonemenu,
#contentTitle .ui-selectonemenu-label,
#contentTitle .ui-selectonemenu.ui-state-hover, 
#contentTitle .ui-selectonemenu.ui-state-focus,
#contentTitle .code {
	-moz-box-shadow:none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#contentTitle .ui-selectonemenu-label,
body .groups.ui-selectonemenu-panel .ui-selectonemenu-list-item {
	font-size: inherit;
	font-weight: bold;
	padding: 4px;
	color: #212121;
	background: none;
}

#contentTitle .ui-selectonemenu-trigger {
	display: none;
	width: 0;
}

#quickNavigation {
	float: right;
	font-size: .8em;
}

body .ui-selectonemenu-panel .ui-selectonemenu-items-wrapper {
	height: auto !important;
}

body .pages.ui-selectonemenu,
body .pages.ui-selectonemenu-panel .ui-selectonemenu-list-item {
	font-family: Consolas, Monaco, "Lucida Console", "Courier New", Courier, monospace;
	letter-spacing: -.05em;
}

body .groups.ui-selectonemenu-panel .ui-selectonemenu-list {
	padding: 1px;
}

body .pages.ui-selectonemenu-panel .ui-selectonemenu-list {
	padding: 2px 6px;
}

body .groups.ui-selectonemenu-panel .ui-selectonemenu-list-item {
	margin: 2px;
	padding: 2px 6px;
	font-size: .9em;
}

body .pages.ui-selectonemenu-panel .ui-selectonemenu-list-item {
	margin: .1em;
	padding: .3em 0;
	font-size: .9em;
	line-height: 1.1em;
}

body .groups.ui-selectonemenu-panel .ui-selectonemenu-list-item.ui-state-hover {
	background: #333;
	color: white;
	box-shadow: 0 0 5px rgba(0,0,0,.5);
}

body .pages.ui-selectonemenu-panel .ui-selectonemenu-list-item.ui-state-hover {
	background: #ddd;
	text-shadow: none;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
	color: inherit;
}

body .groups.ui-selectonemenu-panel .ui-selectonemenu-list-item.ui-state-disabled,
body .pages.ui-selectonemenu-panel .ui-selectonemenu-list-item.ui-state-disabled {
	display: none;
}

.deprecatedLabel {
	padding: 5px;
    display: block;
    border-radius: 3px;
    box-shadow: 0 0 10px #933;
    background: #933;
    color: white;
    font-weight: bold;
    text-align: center;
}