#contentTitle {
	font-size: 1.3em;
}

#contentTitle .ui-selectonemenu,
#contentTitle .code {
	height: 40px;
	border: 1px #ccc dashed;
	background: none;
	vertical-align: middle;
	font-size: 1em;
}

#contentTitle .code {
	margin: 0;
	padding: 8px 4px;
	border: 0;
}

#contentTitle .ui-selectonemenu,
#contentTitle .ui-selectonemenu-label,
#contentTitle .ui-selectonemenu.ui-state-hover, 
#contentTitle .ui-selectonemenu.ui-state-focus,
#contentTitle .code {
	-moz-box-shadow:none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#contentTitle .ui-selectonemenu-label,
.groups.ui-selectonemenu-panel .ui-selectonemenu-list-item {
	font-weight: bold;
	background: none;
}

#contentTitle .ui-selectonemenu-trigger {
	display: none;
	width: 0;
}

#quickNavigation {
	float: right;
	font-size: .7em;
}
	
.pages.ui-selectonemenu,
.pages.ui-selectonemenu-panel .ui-selectonemenu-list-item {
	font-family: Consolas, Monaco, "Lucida Console", "Courier New", Courier, monospace;
}

.groups.ui-selectonemenu-panel .ui-selectonemenu-list {
	padding: 1px;
}

.pages.ui-selectonemenu-panel .ui-selectonemenu-list {
	padding: 2px 6px;
}

.groups.ui-selectonemenu-panel .ui-selectonemenu-list-item {
	margin: 2px;
	padding: 2px 6px;
	font-size: .9em;
}

.pages.ui-selectonemenu-panel .ui-selectonemenu-list-item {
	margin: 1px;
	padding: 4px 0;
	font-size: .8em;
	line-height: 1em;
}

.groups.ui-selectonemenu-panel .ui-selectonemenu-list-item.ui-state-hover {
	background: #333;
	color: white;
	box-shadow: 0 0 5px rgba(0,0,0,.5);
}

.pages.ui-selectonemenu-panel .ui-selectonemenu-list-item.ui-state-hover {
	background: #ddd;
	text-shadow: none;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
	color: inherit;
}

.groups.ui-selectonemenu-panel .ui-selectonemenu-list-item.ui-state-disabled,
.pages.ui-selectonemenu-panel .ui-selectonemenu-list-item.ui-state-disabled {
	display: none;
}