html {
	overflow-y: scroll; /* Sticky vertical scrollbar to prevent horizontal shifts on navigation. */
}

html.progress, html.progress * {
	cursor: progress !important;
}

body {
	margin: 0;
	color: #111;
	background: #f2f2f2;
}

body .ui-widget {
	font-family: "Myriad Pro", Calibri, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
}

body .ui-widget-header {
	color: #fff;
	background: #333;
	text-shadow: none;
}

body .ui-widget-header .ui-state-default,
body .ui-widget-content .ui-state-default {
	background: #ddd;
}

body .ui-widget-content a,
body .ui-widget-content a code {
	color: #007edf;
	text-decoration: none;
}

body .wrapped {
	width: 1050px;
	margin: 0 auto;
	border: 0;
	color: inherit;
	background: inherit;
}

h1, h2, h3, h4, h5, h6 {
	margin: 10px 0;
	font-weight: 700;
	color: #222;
	font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
	letter-spacing: -1px;
}

h2 {
	padding-bottom: 10px;
	border-bottom: 1px #ccc dashed;
	font-size: 32px;
}

hr {
	margin: 2em 0;
	height: 1px;
	border: none;
	background-color: #ccc;
}

label.error {
	color: #c66;
}

input.error, select.error, textarea.error {
	background-color: #fee;
}

pre, 
code,
.code {
	font-family: Consolas, Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
	font-size: 14px;
	line-height: 18px;
	color: #333;
}

#header-wrapper {
	background: #333;
}

#header {
	padding: 50px 10px 30px;
}

#header a.logo {
	float: left;
	margin-right: 1em;
}

#header h1 {
	margin: 0;
	font-size: 42px;
	color: white;
}

#header h2 {
	border: 0;
	font-size: 22px;
	font-weight: 300;
	color: white;
}

#content-wrapper {
	padding: 1.5em 0;	
}

#content {
	float: right;
	width: 750px;
}

#content a:hover, 
#content a.active {
	text-decoration: underline;
}

#content pre,
#content code,
#content .code {
	width: 99%;
	padding: 3px;
	margin: 0 3px;
	border-radius: 2px;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
	background-color: #fff;
}

#content pre {
	margin: 10px 0;
	overflow: auto;
	overflow-y: hidden;
	word-wrap: normal;
}

#content pre code {
	width: auto;
	padding: 0;
	margin: 0;
	box-shadow: none;
}

#content .ui-panel-content {
	padding: 6px;
}

#content .ui-tabs {
	border: 0;
}

#content .ui-tabs .ui-tabs-nav {
	background: none;
}

#content .ui-tabs .ui-tabs-panel {
	padding: 0;
}

#menu {
	float: left;
	width: 275px;
	margin: 0;
}

#menu .ui-panel, 
#content .ui-panel {
	margin: 6px 0;
	padding: 1px;
	border: 0;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}

#menu .ui-panel-titlebar, 
#content .ui-panel-titlebar {
	padding: 2px 6px;
	border: 0;
	box-shadow: 0 0 2px rgba(0,0,0,.5);
}

#menu .ui-panel-content {
	padding: 0 6px;
}

#menu ul {
	margin: 2px 0 1px 0;
	padding: 0;
	list-style-type: none;
}

#menu ul.group li {
	float: left;
	margin-right: 2px;
}

#menu a {
	display: block;
	line-height: 1.5em;
	color: #222;
}

#menu a.code {
	padding: 1px 0;
	line-height: 1.3em;
}

#menu a:hover, 
#menu a.active {
	background: #ddd;
	border-radius: 3px;
	box-shadow: 0 0 10px #ddd;
}

#footer-wrapper {
	background: #333;
}

#footer {
	height: 500px; /* Just some spacing to avoid vertical page shifts when switching between source code tabs. */
	text-align: center;
}

#footer .ui-widget-content {
	color: white;
}

#footer h3 {
	border: 0;
	font-size: 22px;
	font-weight: 300;
	color: white;
}

#footer p {
	white-space: pre;
}

.messages {
	margin: 12px 6px;
	padding: 0;
}

.messages li {
	list-style-type: none;
	padding: 6px;
	color: white;
	font-size: 1.4em;
	box-shadow: 2px 2px 4px #ccc;
}

.messages li:first-child {
	border-radius: 4px 4px 0 0;
}

.messages li:last-child {
	border-radius: 0 0 4px 4px;
}

.messages li:only-child {
	border-radius: 4px;
}

.messages .info {
	background: yellowgreen;
}

.messages .warn {
	background: orange;
}

.messages .error {
	background: orangered;
}

.messages .fatal {
	background: maroon;
}

.snapshot {
	padding: 0 5px;
	background: #ff9;
	color: #333;
	border-radius: 3px;
	box-shadow: 0 0 10px #ff9;
}

.important {
	background: #ff9;
}
