html {
	overflow-y: scroll; /* Sticky vertical scrollbar to prevent horizontal shifts on navigation. */
}

body {
	width: 1250px; /* Target minimum of 1280x1024 */
	margin: 0 auto;
	padding: 3px 0;
	background: #eee;
}

body .ui-widget {
	font-family: "Trebuchet MS", "Liberation Sans", "DejaVu Sans", sans-serif;
	font-size: 12px !important;
	line-height: 1.3em;
}

#header {
	position: relative;
	padding: 0;
	margin-bottom: 3px;
	height: 83px;
}

#poweredBy {
	position: absolute;
	top: -6px;
	right: 6px;
	font-size: .8em;
	text-align: right;
	white-space: pre;
	line-height: 1.3em;
}

#menu .ui-panel, 
#content .ui-panel {
	margin: 8px 0;
}

#menu .ui-panel-titlebar, 
#content .ui-panel-titlebar {
	padding: 4px 8px;
}

#menu .ui-panel-content, 
#content .ui-panel-content {
	padding: 0 8px;
}

#menu {
	width: 250px;
	margin-bottom: 3px;
}

#menu ul {
	margin: 4px 0;
	padding: 0;
	list-style-type: none;
}

#menu ul.group li {
	float: left;
	margin-right: 3px;
}

#menu a {
	line-height: 1.5em;
}

#menu a.code {
	padding: 1px 0;
	line-height: 1.3em;
}

#content {
	float: right;
	width: 985px;
	margin-bottom: 1000px; /* Just some spacing to avoid vertical page shifts when switching between source code tabs. */
}

#content .ui-tabs {
	margin: 8px 0;	
}

h1 {
	margin: 0;
	padding: 2px 0;
	height: 70px;
}

h1 a, 
h1 a:hover {
	text-decoration: none;
	background: none;
}

h1 a img {
	vertical-align: middle;
	border: 0;
}

a:hover, 
a.active {
	background: #ddd;
}

code, .code {
	font-family: Consolas, Monaco, "Lucida Console", "Courier New", Courier, monospace;
}

.error {
	background-color: #fee;
}

.clearleft:after {
    content: "";
    display: table;
    clear: left;
}

.clearleft {
    *zoom: 1; /* IE6/7. */
}