html {
	overflow-y: scroll; /* Sticky vertical scrollbar to prevent horizontal shifts on navigation. */
}

body {
	width: 1250px; /* Target minimum of 1280x1024 */
	margin: 0 auto;
	padding: 3px 0;
	background: #eee;
}

body .ui-widget {
	font-family: "Trebuchet MS", "Liberation Sans", "DejaVu Sans", sans-serif;
	font-size: 12px;
	line-height: 1.3em;
}

h1 {
	margin: 0;
	padding: 2px 0;
	height: 70px;
}

h1 a, 
h1 a:hover {
	text-decoration: none;
	background: none;
}

h1 a img {
	vertical-align: middle;
	border: 0;
}

a:hover, 
a.active {
	background: #ddd;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

code,
.code {
	font-family: Consolas, Monaco, "Lucida Console", "Courier New", Courier, monospace;
}

#header {
	position: relative;
	padding: 0;
	margin-bottom: 3px;
	height: 83px;
}

#poweredBy {
	position: absolute;
	top: -6px;
	right: 6px;
	font-size: .8em;
	text-align: right;
	white-space: pre;
	line-height: 1.3em;
}

#menu .ui-panel, 
#content .ui-panel {
	margin: 8px 0;
}

#menu .ui-panel-titlebar, 
#content .ui-panel-titlebar {
	padding: 3px 8px;
}

#menu .ui-panel-content, 
#content .ui-panel-content {
	padding: 0 8px;
}

#menu {
	width: 250px;
	margin-bottom: 3px;
}

#menu ul {
	margin: 4px 0;
	padding: 0;
	list-style-type: none;
}

#menu ul.group li {
	float: left;
	margin-right: 3px;
}

#menu a {
	display: block;
	line-height: 1.5em;
}

#menu a.code {
	padding: 1px 0;
	line-height: 1.3em;
}

#contentTitle .ui-selectonemenu {
	height: 28px;
	border: 1px solid #eee;
	background: none;
	vertical-align: middle;
}

#contentTitle .ui-selectonemenu-label,
#contentTitle .code {
	margin: -2px 0 2px 0;
	letter-spacing: -1px;
}

#contentTitle .ui-selectonemenu-label,
#contentTitle .ui-selectonemenu.ui-state-hover, 
#contentTitle .ui-selectonemenu.ui-state-focus, 
.groups.ui-selectonemenu-panel,
.pages.ui-selectonemenu-panel {
	-moz-box-shadow:none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#contentTitle .ui-selectonemenu-label,
.groups.ui-selectonemenu-panel .ui-selectonemenu-list-item {
	font-weight: bold;
}

#contentTitle .ui-selectonemenu-trigger {
	display: none;
}

.pages.ui-selectonemenu,
.pages.ui-selectonemenu-panel .ui-selectonemenu-list-item {
	font-family: Consolas, Monaco, "Lucida Console", "Courier New", Courier, monospace;
	font-size: 1em;
}

.groups.ui-selectonemenu-panel .ui-selectonemenu-list {
	padding: 1px;
}

.pages.ui-selectonemenu-panel .ui-selectonemenu-list {
	padding: 5px 8px;
}

.groups.ui-selectonemenu-panel .ui-selectonemenu-list-item {
	margin: 2px;
	padding: 4px 8px;
}

.pages.ui-selectonemenu-panel .ui-selectonemenu-list-item {
	margin: 1px;
	padding: 1px 0;
	text-decoration: underline;
}

.groups.ui-selectonemenu-panel .ui-selectonemenu-list-item.ui-state-highlight {
	padding: 3px 7px;
	border: 1px solid #a8a8a8;
	background: #c4c4c4 url("#{resource['primefaces-aristo:images/ui-bg_highlight-soft_100_c4c4c4_1x100.png']}") 50% 50% repeat-x;
	color: #333;
	font-weight: bold;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.7);
}

.pages.ui-selectonemenu-panel .ui-selectonemenu-list-item.ui-state-highlight {
	background: #ddd;
	text-shadow: none;
	color: inherit;
}

.groups.ui-selectonemenu-panel .ui-selectonemenu-list-item.ui-state-disabled,
.pages.ui-selectonemenu-panel .ui-selectonemenu-list-item.ui-state-disabled {
	display: none;
}

#content {
	float: right;
	width: 985px;
	margin-bottom: 1000px; /* Just some spacing to avoid vertical page shifts when switching between source code tabs. */
}

#content .ui-tabs {
	margin: 8px 0;	
}

.error {
	background-color: #fee;
}

.clearleft:after {
	content: "";
	display: table;
	clear: left;
}

.clearleft {
	*zoom: 1; /* IE6/7. */
}