<?xml version="1.0" encoding="UTF-8"?>
<web-app
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	version="6.0" metadata-complete="false"
>
	<display-name>OmniFaces Showcase</display-name>


	<!-- Standard Faces settings. -->

	<context-param>
		<param-name>jakarta.faces.FACELETS_BUFFER_SIZE</param-name>
		<param-value>65535</param-value> <!-- 64KB. -->
	</context-param>
	<context-param>
		<param-name>jakarta.faces.FACELETS_LIBRARIES</param-name>
		<param-value>/WEB-INF/showcase.taglib.xml</param-value> <!-- Specific to this showcase. -->
	</context-param>
	<context-param>
		<param-name>jakarta.faces.FACELETS_SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>jakarta.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
		<param-value>true</param-value> <!-- https://balusc.omnifaces.org/2015/10/the-empty-string-madness.html -->
	</context-param>
	<context-param>
    	<param-name>jakarta.faces.SERIALIZE_SERVER_STATE</param-name>
    	<param-value>true</param-value> <!-- Mojarra defaults to false and MyFaces to true. Let's align out.  -->
	</context-param>


	<!-- Mojarra/RI specific settings. -->

	<context-param>
		<param-name>com.sun.faces.defaultResourceMaxAge</param-name>
		<param-value>3628800000</param-value> <!-- 6 weeks. -->
	</context-param>


	<!-- MyFaces specific settings. -->

	<context-param>
		<param-name>org.apache.myfaces.RESOURCE_MAX_TIME_EXPIRES</param-name>
		<param-value>3628800000</param-value> <!-- 6 weeks. -->
	</context-param>


	<!-- OmniFaces specific settings. -->

	<context-param>
		<param-name>org.omnifaces.CACHE_SETTING_SESSION_MAX_CAPACITY</param-name>
		<param-value>6</param-value> <!-- Specific to this showcase. -->
	</context-param>
	<context-param>
		<param-name>org.omnifaces.COMBINED_RESOURCE_HANDLER_CACHE_TTL</param-name>
		<param-value>3628800</param-value> <!-- 6 weeks. -->
	</context-param>
    <context-param>
        <param-name>org.omnifaces.COMBINED_RESOURCE_HANDLER_EXCLUDED_RESOURCES</param-name>
        <param-value>jakarta.faces:faces.js</param-value>
    </context-param>
	<context-param>
		<!--
			All files in the 3 paths defined below will be scanned and made available
			as extensionless Faces views. Since no explicit extension is given for scanning,
			these paths should contain ONLY Faces (Facelets) files.
		 -->
		<param-name>org.omnifaces.FACES_VIEWS_SCAN_PATHS</param-name>
		<param-value>/showcase,/etc,/demo</param-value> <!-- Specific to this showcase. -->
	</context-param>
	<context-param>
		<!--
			Redirects the faces views scanned /showcase/[PAGE].xhtml to /[PAGE].
			A 404 would normally be preferred (and this is thus the default), but the showcase app
			already has published /showcase/[PAGE].xhtml
		-->
		<param-name>org.omnifaces.FACES_VIEWS_PATH_ACTION</param-name>
		<param-value>REDIRECT_TO_SCANNED_EXTENSIONLESS</param-value> <!-- Specific to this showcase. -->
	</context-param>
	<context-param>
		<param-name>org.omnifaces.SOCKET_ENDPOINT_ENABLED</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
	    <param-name>org.omnifaces.VIEW_RESOURCE_HANDLER_URIS</param-name>
	    <param-value>/robots.txt, /sitemap.xml</param-value>
	</context-param>

	<!-- Servlets and filters. -->

	<servlet>
		<servlet-name>facesServlet</servlet-name>
		<servlet-class>jakarta.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>facesServlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>characterEncodingFilter</filter-name>
		<filter-class>org.omnifaces.filter.CharacterEncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<servlet-name>facesServlet</servlet-name>
	</filter-mapping>

	<filter>
		<filter-name>compressedResponseFilter</filter-name>
		<filter-class>org.omnifaces.filter.CompressedResponseFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>compressedResponseFilter</filter-name>
		<servlet-name>facesServlet</servlet-name>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>noCacheFilter</filter-name>
		<filter-class>org.omnifaces.filter.CacheControlFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>noCacheFilter</filter-name>
		<servlet-name>facesServlet</servlet-name>
	</filter-mapping>


	<!-- Session config, welcome files, error pages and mime types. -->
	
	<session-config>
		<cookie-config>
			<http-only>true</http-only>
		</cookie-config>
		<tracking-mode>COOKIE</tracking-mode>
	</session-config>
	
	<welcome-file-list>
		<!--
			Note that an extension is used here, since the index file resides within the
			root which has not been configured for FacesViews scanning.
		-->
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>

	<error-page>
		<exception-type>jakarta.faces.application.ViewExpiredException</exception-type>
		<location>/WEB-INF/errorpages/expired.xhtml</location>
	</error-page>
	<error-page>
		<exception-type>java.sql.SQLException</exception-type>
		<location>/WEB-INF/errorpages/database.xhtml</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.RuntimeException</exception-type>
		<location>/WEB-INF/errorpages/bug.xhtml</location>
	</error-page>
	<error-page>
		<exception-type>org.omnifaces.showcase.exceptionhandlers.EpicFailException</exception-type>
		<location>/WEB-INF/errorpages/epicfail.xhtml</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/errorpages/500.xhtml</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/errorpages/404.xhtml</location>
	</error-page>
	<error-page>
		<error-code>400</error-code>
		<location>/WEB-INF/errorpages/400.xhtml</location>
	</error-page>

	<mime-mapping>
		<!--
			Not all application servers are aware of new SVG mime type, so we define it here to be sure.
		-->
		<extension>svg</extension>
		<mime-type>image/svg+xml</mime-type>
	</mime-mapping>

</web-app>