#contentTitle .ui-selectonemenu {
	height: 29px;
	border: 1px solid #eee;
	background: none;
	vertical-align: middle;
}

#contentTitle .ui-selectonemenu-label,
#contentTitle .code {
	margin: -2px 0 2px 0;
	letter-spacing: -1px;
}

#contentTitle .ui-selectonemenu-label,
#contentTitle .ui-selectonemenu.ui-state-hover, 
#contentTitle .ui-selectonemenu.ui-state-focus, 
.groups.ui-selectonemenu-panel,
.pages.ui-selectonemenu-panel {
	-moz-box-shadow:none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#contentTitle .ui-selectonemenu-label,
.groups.ui-selectonemenu-panel .ui-selectonemenu-list-item {
	font-weight: bold;
}

#contentTitle .ui-selectonemenu-trigger {
	display: none;
}

#quickNavigation {
	float: right;
	font-size: .7em;
}

#source pre {
	overflow: auto;
	overflow-y: hidden;
	word-wrap: normal;
}

.pages.ui-selectonemenu,
.pages.ui-selectonemenu-panel .ui-selectonemenu-list-item {
	font-family: Consolas, Monaco, "Lucida Console", "Courier New", Courier, monospace;
	font-size: 1em;
}

.groups.ui-selectonemenu-panel .ui-selectonemenu-list {
	padding: 1px;
}

.pages.ui-selectonemenu-panel .ui-selectonemenu-list {
	padding: 5px 8px;
}

.groups.ui-selectonemenu-panel .ui-selectonemenu-list-item {
	margin: 2px;
	padding: 4px 8px;
}

.pages.ui-selectonemenu-panel .ui-selectonemenu-list-item {
	margin: 1px;
	padding: 1px 0;
	text-decoration: underline;
}

.groups.ui-selectonemenu-panel .ui-selectonemenu-list-item.ui-state-hover {
	padding: 3px 7px;
	border: 1px solid #a8a8a8;
	background: #c4c4c4 url("#{resource['primefaces-aristo:images/ui-bg_highlight-soft_100_c4c4c4_1x100.png']}") 50% 50% repeat-x;
	color: #333;
	font-weight: bold;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.7);
	box-shadow: none;
}

.pages.ui-selectonemenu-panel .ui-selectonemenu-list-item.ui-state-hover {
	background: #ddd;
	text-shadow: none;
	box-shadow: none;
	color: inherit;
}

.groups.ui-selectonemenu-panel .ui-selectonemenu-list-item.ui-state-disabled,
.pages.ui-selectonemenu-panel .ui-selectonemenu-list-item.ui-state-disabled {
	display: none;
}